@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
}
.how-works-small {
  overflow: hidden;
}
.logo_subtitle > p {
  font-size: 30px;
  font-family: "Caveat", cursive;
  color: red;
}
.main_logo_wrapper > img {
  max-width: 250px;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.counter {
  font-weight: bold;
  font-size: 24px;
}

.attention {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.share_img_wrapper {
  display: flex;
  column-gap: 10px;
}
.share_img {
  margin: 0 auto;
}

.share_img > img {
  max-width: 130px;
  height: 80px;
}
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_btn {
  display: none;
}
.logo_wrapper {
  align-items: center;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.main_text > h1 {
  font-size: 6rem;
  color: rgb(250, 207, 126);
  margin-top: 0;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}
.vector {
  position: absolute;
  right: 10%;
  bottom: 0%;
  z-index: -1;
  width: 200px;
  height: 200px;
}
.main_text {
  z-index: 2;
  position: relative;
}
.sub_text {
  display: flex;
  justify-content: space-between;
}
.bigger_sub_text > h3 {
  font-size: 2.5rem;
  margin-top: -75px;
}
.sub_text_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.sub_text_grid > div > p {
  font-weight: 500;
}
.sub_part > p {
  margin-top: 0px;
  text-align: center;
}
.bigger_sub_text {
  text-align: right;
}
.main_section {
  background-image: url("../assets/back.jpg");
  /* background-attachment: fixed; */
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grid_section {
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  grid-template-areas: 
  "s t ."
  "a t ."
  ". . ."; 
}

.air_holder {
  position: relative;
}
.air-watter-sub {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.summer_img_wrapper > img {
  max-width: 100%;
}
.summer {
  position: relative;
}
.air-water_el {
  position: relative;
}
.water_item {
  position: absolute;
  bottom: -75px;
  right: -140px;
  width: 100%;
  max-width: 300px !important;
}
.mob_flex{
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.summer:before {
  position: absolute;
  content: "Літо";
  top: 0;
  font-weight: 500;
  color: #666;
  font-size: 22px;
  left: 0;
}
.info {
  color: #666;
}
.container > p {
  text-align: center;
}
.winter {
  position: relative;
}
.winter:before {
  position: absolute;
  content: "Зима";
  top: 0;
  font-weight: 500;
  color: #666;
  font-size: 22px;
  left: 0;
}
.air_holder:after {
  position: absolute;
  content: "";
  bottom: 10px;
  right: -50px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background: url("../assets/img/air-air-2.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.grid_img > img {
  text-align: center;
  max-width: 100%;
}
.grid_img {
  text-align: center;
}
.main_text > h1 {
  padding-top: 10%;
}
.sub_part > p {
  font-size: 6rem;
  margin: 0;
  color: rgb(250, 207, 126);
}
.head_sub {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
.contacts__numbers > a {
  color: #fff;
  transition: 0.2s;
  text-decoration: none;
}

.contacts__numbers > a:hover {
  color: #09863b;
}
.value,
.plus {
  font-size: 3rem;
  color: #fff;
}
.main_btn {
  color: #fff;
  background-color: rgb(251, 192, 83);
  padding: 10px;
  border: none;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.button_wrapper {
  text-align: center;
  margin-top: 30px;
}
.sub_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
@media (max-width: 762px) {
  .attention {
    grid-template-columns: 1fr;
    position: relative;
    z-index: 2;
  }

  .share_img_wrapper {
    /* flex-direction: column; */
    align-items: center;
  }
}

.sub_head_title_wrapepr {
  display: flex;
  justify-content: space-between;
}

.add_info_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  /* margin-top: 50px; */
}

.add_info_wrapper > div > p {
  color: #111;
  text-align: justify;
  font-weight: bold;
  margin: 10px auto;
}
.attention {
  padding: 5px;
  padding-right: 5px;
  padding-left: 5px;
  color: #fff;
  background-color: #4285f4;
  padding-left: 10px;
  padding-right: 10px;
}
.attention {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.share_img_wrapper {
  display: flex;
  column-gap: 10px;
}
.share_img {
  margin: 0 auto;
}

.share_img > img {
  max-width: 130px;
  height: 80px;
}
.contacts {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}
.float_btn_wrapper {
  position: fixed;
  top: 10%;
  right: 0%;
}
.contacts__numbers > a {
  display: block;
}
.contacts__socials {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
}
.main_section_blur {
  position: relative;

  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
nav {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.sec_t {
  /* background: url('../assets/sec2.jpg'); */
  position: relative;
  background-size: cover;
}
.text_wrapper {
  padding: 30px;
  max-width: 500px;
  border-radius: 20px;
}
.sec_sec > img {
  max-width: 400px;
  border-radius: 20px;
  width: 100%;
}
.sec_sec {
  position: relative;
}
/* .sec_sec::after{
  content: '';
  width: 200px;
  height: 400px;
  top: 0;
  left: -30px;
  background: url('../assets/img/air-water.png');
} */
.grid_absolute_img {
  position: absolute;
  bottom: -20px;
  left: -20px;
}
.sec_t {
  /* background: url('../assets/a.png'); */
  padding: 30px 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: right; */
}

.grid_absolute_img > img {
  width: 100%;
  max-width: 500px;
}
.text_wrapper > p,
.grid_section_text > p {
  line-height: 30px;
}
.grid_section {
  margin-top: 20px;
  margin-bottom: 0px;
}
.air-water-comer {
  grid-template-columns: 1fr 0.7fr;
}
.grid_img > img {
  border-radius: 20px;
  width: 100%;
}
.text_list {
  text-align: left;
  list-style: none;
  padding-left: 0;
}
.text_list > li > p {
  color: #666;
  font-size: 14px;
}
.additional_img_text {
  display: flex;
  column-gap: 30px;
  list-style: arrow;
  margin-top: 50px;
}

.text_wrapper {
  background: #fff;
  /* height: 100%; */
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding: 38px 60px 44px;
}
.grid_section_text {
  background: #fff;
  /* height: 60%; */
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding: 18px 20px 24px;
  border-radius: 20px;
}
.f_letter {
  font-size: 20px;
  font-weight: 600;
}
.sec_title {
  font-size: 2rem;
  position: relative;
  text-align: center;
  margin-top: 0;
}
.how-works-small {
  position: absolute;
  height: 400px;
  z-index: -1;
  opacity: 0.4;
  stroke: rgb(250, 207, 126);
  stroke-width: 0.79px;
  bottom: -177px;
  right: -160px;
  fill: none;
}
.sec_title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: rgb(250, 207, 126);
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.sec_subtitle {
  font-size: 1.7rem;
  color: #666;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}
.sec_subtitle:before {
  content: "";
  position: absolute;
  background: url("../assets/svg/dots-bg.svg");
  top: 0;
  width: 38px;
  height: 38px;
  left: 0;
}
.summer_text {
  text-align: left;
}
.second_section {
  position: relative;
  padding: 30px 0;
}
.water-summer {
  width: 50%;
}
.left_arrow {
  font-size: 14px;
  color: #666;
}

.second_section:after {
  position: absolute;
  content: "";
  background: url("../assets/curved-lines.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  min-height: 500px;
  top: 0;
  left: 0;
}
.main_section:after {
  position: absolute;
  content: "";
  top: 0px;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.864); */
  /* background: radial-gradient(rgb(230,131,44) 0%,rgba(91, 71, 33, 0.016) 0%,orange 100%); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.752334210051208) 0%,
    rgba(0, 0, 0, 0.5842669831604517) 60%,
    rgba(0, 212, 255, 0.012838411731880273) 98%
  );
  opacity: 0.6;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.main_btn:hover {
  color: #fff;
  background: #1055cc;
}
.list {
  list-style: none;
}
.additional_img_text{
  grid-area: a;
}
.grid_section_text{
  grid-area: t;
}
.none{
  display: none;
}
@media (max-width: 762px) {
  .attention {
    grid-template-columns: 1fr;
    position: relative;
    z-index: 2;
  }
  .s_height{
    margin-top: 30px;
  }
  .grid_section{
    grid-template-areas: 
    "s"
    "t"
    "a";
    grid-row: auto;
    gap: 30px;
  }
  .additional_img_text{
    margin-top: 0;
  }
  .air-watter-sub{
    margin-top: 30px;
    padding: 20px;
  }
  .mob_flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .additional_img_text {
    flex-direction: column;
  }
  .water_item {
    display: none;
  }
  .how-works-small {
    display: none;
  }
  .air-watter-sub {
    flex-direction: column;
  }
  .summer_text {
    width: 50%;
  }
  .summer_img_wrapper {
    width: 50%;
  }
  .water-summer {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .share_img_wrapper {
    /* flex-direction: column; */
    align-items: center;
  }
}
.attention {
  padding: 5px;
  color: #fff;
  background-color: #4285f4;
  padding-left: 10px;
  padding-right: 10px;
}

.attention_flex {
  max-width: 1240px;
  margin: 0 auto;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
}
.active {
  transition: 0.2s;
  background-color: rgba(0, 166, 235, 0.7);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 0 10px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 10px;
  position: fixed;
  z-index: 4;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 207, 126, 0.9);
  backdrop-filter: blur(10px);
  z-index: 99;
}
.close_pop {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.close_pop:hover {
  color: #1055cc;
}
.pop_inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.pop_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 400px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
}
.overlay {
  display: none;
}
.form > button {
  width: 100%;
  margin-top: 20px;
}
.form > textarea {
  width: 90%;
  padding: 10px;
  display: block;
  resize: none;
  margin: 0 auto;
  margin: 10px auto;
  border: 2px solid rgba(102, 102, 102, 0.297);
  border-radius: 10px;
}
.form > input {
  display: block;
  margin: 10px auto;
  border: 2px solid rgba(102, 102, 102, 0.297);
  border-radius: 10px;
  padding: 10px;
  /* max-width: 300px; */
  width: 90%;
}
.active
  > .container
  > .nav_container
  > .logo_wrapper
  > .main_logo_wrapper
  > img {
  max-width: 150px;
}
.active > .container > .nav_container > .logo_wrapper > .logo_subtitle > p {
  font-size: 28px;
  margin: 0 auto;
}
.active > .container > .nav_container > .nav_btn {
  display: block;
}
.main_btn {
  border-radius: 10px;
  transition: 0.3s;
}
.f_expl {
  background-color: rgb(250, 207, 126, 0.2);
  padding: 30px;
}

.expl_text {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}
.expl_text > p {
  font-size: 14px;
  text-align: left;
  color: rgb(46, 45, 45);
}
.expl_info {
  font-size: 14px;
  color: rgb(46, 45, 45);
}
.concept {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.f_item {
  background-color: #a4c2f4;
  text-transform: uppercase;
  padding: 5px;
}
.s_item {
  background-color: #6d9eeb;
  text-transform: uppercase;
  padding: 5px;
}
.t_item {
  background-color: #1055cc;
  text-transform: uppercase;
  padding: 5px;
  color: #fff;
}
@media (max-width: 660px) {
  .add_info_wrapper > div > p {
    font-size: 13px;
  }
  .right_head {
    text-align: right !important;
  }
}
.expl_list {
  list-style: none;
}
/* .water-summer {
  display: flex;
  width: 100%;
  align-items: center;
} */
.swiper-slide {
  width: 50%;
  background-color: #fff;
}
html {
  scroll-behavior: smooth;
}
.none {
  display: none;
}
.scroll-top{
  display: none;
}
.btnOn {
  position: fixed;
  display: block;
  bottom: 60px;
  z-index: 2;
  right: 30px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 10px 0 10px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
  background-color: #1055cc;
  color: rgb(250, 207, 126);
  transition: 0.2s;
}
.scroll-top:hover {
  color: #1055cc;
  background-color: rgb(250, 207, 126);
}
.mob_attention {
  display: none;
}
.mob_social {
  max-width: 250px;
  margin-left: 40px;
  margin-top: 30px;
}
.mob_social > a {
  font-size: 50px;
}
.share_text > p {
  font-size: 14px;
}
.additional_info {
  padding: 30px;
}
.additional_info > p {
  font-size: 14px;
  position: relative;
  color: #666;
  padding-left: 20px;
}
.additional_info > p::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 0;
  background-color: rgb(250, 207, 126);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.float_btn_wrapper {
  display: none;
}
.mob_nav {
  display: none;
}
.none {
  display: none;
}
.phone_list {
  padding-left: none;
  list-style: none;
}
.phone_list > li {
  margin: 20px auto;
  font-size: 20px;
}
.phone_list > li > a {
  text-decoration: none;
  color: #111;
}
.grid_absolute_img > svg {
  overflow: hidden;
}
.f_flow {
  grid-template-columns: 1fr 0.6fr;
  margin-bottom: 0;
  gap: 30px;
}
@media (max-width: 762px) {
  .mob_attention {
    display: block;
  }
  .f_expl {
    padding: 10px;
    margin-top: 30px;
  }
  .pop_content {
    width: 75%;
  }
  .mob_nav {
    /* display: block; */
    position: fixed;
    z-index: 99;
    background: #fff;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
  }
  .close {
    position: relative;
  }
  .c_btn {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #111;
    top: 20px;
  }
  .mob_logo {
    align-items: flex-start;
    display: block;
  }
  .float_btn_wrapper {
    font-size: 30px;
    background-color: rgb(250, 207, 126);
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .grid_absolute_img > img {
    max-width: 350px;
  }
  .logo_wrapper {
    flex-direction: column;
  }
  .logo_subtitle > p {
    margin: 0;
  }
  .grid_img {
    margin-top: 30px;
  }
  .air_holder::after {
    width: 72%;
    right: 30px;
    bottom: -24px;
  }
  .text_wrapper {
    padding: 0;
  }
  .add_wrapper {
    padding: 10px;
  }
  .additional_info {
    padding: 20px;
  }
  .additional_info > p {
    color: #fff;
  }
  .grid_section {
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 10px;
  }

  .grid_section_text {
    background: rgb(250, 207, 126, 0.8);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
  }
  .contacts {
    display: none;
  }
  .active {
    position: static;
  }
  .attention_descktop {
    display: none;
    z-index: 999;
  }
  .float_btn_wrapper {
    position: fixed;
    top: 20px;
    display: block;
    right: 10px;
  }
  .main_text > h1,
  .sub_part > p {
    font-size: 5rem;
  }
  .main_logo_wrapper > img {
    max-width: 200px;
  }
  .logo_subtitle > p {
    font-size: 22px;
  }

  .main {
    height: 100%;
  }
  .additional_info {
    background-color: rgba(0, 166, 235, 0.9);
    color: #fff;
    padding: 30px;
    border-radius: 20px;
  }
  .text_wrapper {
    padding: 20px;
  }
  .grid_section {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .main_text > h1,
  .sub_part > p {
    font-size: 3rem;
  }
  .water-summer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .summer_img_wrapper {
    width: 100%;
  }
  .summer_text {
    width: 100%;
  }
  .head_sub > p,
  .value,
  .plus {
    font-size: 1.2rem;
  }
}
.grid_img{
  grid-area: s;
}
.air-watter-sub{
  grid-area: a;
}
.s_height{
  grid-area: t;
}